[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "agentic-horizon-blog/themes/blowfish"]
	path = agentic-horizon-blog/themes/blowfish
	url = https://github.com/nunocoracao/blowfish.git
	branch = main
